.card-profile {
  width: 500px;
  color: #6a7884;
}
.card-profile-image {
  display: block;
  margin: 30px auto 0;
  height: 150px;
  width: 150px;
}

.card-profile-image img {
  border-radius: 50%;
}

.card-title {
  font-weight: bold;
  text-transform: capitalize;
}

.btn-excluir {
  background: #cc0000;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
}
.btn-excluir:hover {
  background: #b30000;
  color: #fff;
}

.btn-profile {
  background: #1fbea4;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
}
.btn-profile:hover {
  background: #138b71;
  color: #fff;
}
